In [1]:
import sqlite3
import pandas as pd

In [8]:
conexion = sqlite3.connect('db/detected_plates.db')
nombre_tabla = 'detected_plates'

In [9]:
df = pd.read_sql_query(f'SELECT * FROM {nombre_tabla}', conexion)
conexion.close()

In [10]:
df

,id,plate_text,plate_image_base64,detection_date
0,1,CZR263,iVBORw0KGgoAAAANSUhEUgAAARIAAAC2CAAAAAAwpl2zAA...,2024-11-08 18:00:50
1,2,CZR263,iVBORw0KGgoAAAANSUhEUgAAATYAAADWCAAAAAB+5PFDAA...,2024-11-08 18:49:35
2,3,CZR263,iVBORw0KGgoAAAANSUhEUgAAASIAAADBCAAAAABOcuLyAA...,2024-11-08 18:49:38
3,4,AGH430,iVBORw0KGgoAAAANSUhEUgAAASYAAACKCAAAAAAiBrgnAA...,2024-11-08 18:49:47